vti_encoding:SR|utf8-nl
vti_author:SR|BUSINESS\\rathish
vti_modifiedby:SR|BUSINESS\\athanirr
vti_timelastmodified:TR|11 Jun 2010 04:48:30 -0000
vti_timecreated:TR|24 May 2010 02:09:04 -0000
vti_lineageid:SR|{8C3CE842-CDBE-4B8B-A515-7390B021F4F6}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|10 Jun 2010 17:17:33 -0000
vti_cacheddtm:TX|11 Jun 2010 04:48:30 -0000
vti_filesize:IR|3292
