vti_encoding:SR|utf8-nl
vti_author:SR|BUSINESS\\rathish
vti_modifiedby:SR|BUSINESS\\athanirr
vti_timelastmodified:TR|11 Jun 2010 20:39:44 -0000
vti_timecreated:TR|24 May 2010 02:09:04 -0000
vti_lineageid:SR|{9677929D-4BB3-4A5B-8F1C-05E82F39487C}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|11 Jun 2010 05:15:50 -0000
vti_cacheddtm:TX|11 Jun 2010 20:39:44 -0000
vti_filesize:IR|9114
