vti_encoding:SR|utf8-nl
vti_author:SR|BUSINESS\\agarwasg
vti_modifiedby:SR|BUSINESS\\agarwasg
vti_timelastmodified:TR|13 May 2010 00:13:07 -0000
vti_timecreated:TR|13 May 2010 00:13:07 -0000
vti_lineageid:SR|{60690804-9AE2-4B7C-9AF8-EA16269BE8B0}
vti_cacheddtm:TX|13 May 2010 00:13:07 -0000
vti_filesize:IR|8470
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
