vti_encoding:SR|utf8-nl
vti_author:SR|BUSINESS\\hulkodss
vti_modifiedby:SR|BUSINESS\\hulkodss
vti_timelastmodified:TR|09 Jun 2010 21:53:45 -0000
vti_timecreated:TR|09 Jun 2010 21:53:45 -0000
vti_lineageid:SR|{34E8A30D-1E0D-472C-B71A-203A0E97A345}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|09 Jun 2010 21:53:45 -0000
vti_cacheddtm:TX|09 Jun 2010 21:53:45 -0000
vti_filesize:IR|7856
